@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  background-color: white;
  border-radius: 5px;
  width: 20px;
  height: 20px;
}
